<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50 overflow-hidden">
  <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full" aria-hidden="true">
    <div class="relative h-full max-w-7xl mx-auto">
      <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>

      <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
      </svg>
    </div>
  </div>

  <div class="relative pb-16 sm:pb-24">
    <div class="max-w-7xl mx-auto px-4 sm:px-4">
      <nav class="relative flex items-center justify-center  md:justify-center" aria-label="Global">
          <div class="flex items-center justify-between w-full md:w-auto">
            <a class="mx-auto" href="#">
              <svg class="h-32 w-32 sm:h-32"xmlns:dc="http://purl.org/dc/elements/1.1/"xmlns:cc="http://creativecommons.org/ns#"xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"xmlns:svg="http://www.w3.org/2000/svg"xmlns="http://www.w3.org/2000/svg"xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"version="1.1"id="svg2"xml:space="preserve"width="1440"height="1440"viewBox="0 0 1440 1440"sodipodi:docname="Logo KP Skills final.ai"><metadata id="metadata8"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs id="defs6"><clipPath clipPathUnits="userSpaceOnUse"id="clipPath22"><path d="M 0,1080 H 1080 V 0 H 0 Z"id="path20" /></clipPath></defs><sodipodi:namedview pagecolor="#ffffff"bordercolor="#666666"borderopacity="1"objecttolerance="10"gridtolerance="10"guidetolerance="10"inkscape:pageopacity="0"inkscape:pageshadow="2"inkscape:window-width="640"inkscape:window-height="480"id="namedview4" /><g id="g10"inkscape:groupmode="layer"inkscape:label="Logo KP Skills final"transform="matrix(1.3333333,0,0,-1.3333333,0,1440)"><g id="g12"transform="translate(605.2588,447.7207)"><path d="m 0,0 v 308.97 l -106.94,6.31 -0.12,0.011 V 308.97 H -65.5 V 164.42 h -3.61 l -138.23,144.55 h 45.63 v 6.321 h -90.35 v -6.321 h 36.14 L -115.19,203.271 -271.48,0 h -28.01 v -6.319 h 150.88 V 0 h -40.66 l 120.16,158.101 h 3.61 V 0 h -41.56 v -6.319 h 46.02 l 25.17,118.11 -13.37,24.929 17.02,16.41 17.02,-16.41 -13.37,-24.929 25.17,-118.11 h 44.95 l 0,6.319 z"style="fill:#0e76a8;fill-opacity:1;fill-rule:nonzero;stroke:none"id="path14" /></g><g id="g16"><g id="g18"clip-path="url(#clipPath22)"><g id="g24"transform="translate(674.9385,618.2412)"><path d="m 0,0 c -11.449,-11.59 -29.97,-17.39 -55.56,-17.39 h -14 v 155.84 c 2.401,0.3 5.111,0.6 8.13,0.9 3,0.3 6.17,0.46 9.481,0.46 26.199,0 44.269,-6.93 54.21,-20.78 C 12.2,105.17 17.16,85.15 17.16,58.95 17.16,31.24 11.44,11.59 0,0 m 77.471,104.35 c -8.891,10.99 -19.95,19.57 -33.2,25.74 -13.26,6.17 -27.71,10.39 -43.371,12.65 -15.66,2.26 -30.259,3.39 -43.809,3.39 -15.361,0 -30.721,-0.23 -46.08,-0.68 -15.351,-0.45 -30.71,-0.68 -46.071,-0.68 h -41.56 v -6.32 h 41.56 v -308.971 h -41.56 v -6.319 h 45.9 l 25.17,118.11 -13.37,24.93 17.021,16.41 17.019,-16.41 -13.37,-24.93 25.17,-118.11 h 45.07 v 6.319 H -69.56 V -23.71 h 18.52 c 24.091,0 45.011,2.26 62.78,6.77 17.771,4.52 32.531,10.62 44.271,18.3 11.75,7.68 20.479,16.71 26.199,27.1 5.721,10.39 8.58,21.46 8.58,33.2 0,17.46 -4.439,31.69 -13.319,42.69"style="fill:#0e76a8;fill-opacity:1;fill-rule:nonzero;stroke:none"id="path26" /></g></g></g><text transform="matrix(1,0,0,-1,297.6006,340.5283)"style="font-variant:normal;font-weight:bold;font-stretch:normal;font-size:66.1405px;font-family:Arial;-inkscape-font-specification:Arial-BoldMT;writing-mode:lr-tb;fill:#0e76a8;fill-opacity:1;fill-rule:nonzero;stroke:none"id="text30"><tspan x="0 62.833473 122.02922 159.13405 218.32979 281.16327 314.63037 370.12222 425.61411"y="0"sodipodi:role="line"id="tspan28">KP-SKILLS</tspan></text></g></svg>
            </a>
          </div>
      </nav>
    </div>

    <main class="mt-1 mx-auto max-w-7xl px-4 md:mt-8">
      <div class="text-center">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block xl:inline">Recrutez les meilleurs</span>
          <span class="block text-indigo-600 xl:inline">talents de Lyon</span>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Nous sommes un jeune et modeste cabinet de recrutement Lyonnais par approche directe. Pas d'annonce, pas de blabla, peu de clients et maximum 2 même temps. Oui on est un peu différent quand même.
        </p>

      </div>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="bg-gray-50 pt-4 sm:pt-4">
<!--         <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
              Trusted by developers from over 80 planets
            </h2>
            <p class="mt-3 text-xl text-gray-500 sm:mt-4">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus repellat laudantium.
            </p>
          </div>
        </div> -->
        <div class="mt-10 pb-12 bg-white sm:pb-8">
          <div class="relative">
            <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="max-w-4xl mx-auto">
                <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
                  <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                    <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                      Recrutements effectués en 2020
                    </dt>
                    <dd class="order-1 text-5xl font-extrabold text-indigo-600">
                      13
                    </dd>
                  </div>
                  <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                    <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                      de nos recrutement fait en pésentant un seul candidat
                    </dt>
                    <dd class="order-1 text-5xl font-extrabold text-indigo-600">
                      92%
                    </dd>
                  </div>
                  <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                    <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                      sont toujours en poste
                    </dt>
                    <dd class="order-1 text-5xl font-extrabold text-indigo-600">
                      100%
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="bg-indigo-600">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
          <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-white">🛠 Notre fonctionnement 🛠</h2>
            <p class="mt-4 text-lg text-gray-200">Merci de prendre le temps de lire ces quelques lignes, vraiment c'est cool.</p>
          </div>
          <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
            <div class="flex">
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-bold text-white">
                  Payez uniquement au succès
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  Tant que le candidat n'a pas commencé à travailler, vous ne payez rien !
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  Honoraires mensuels
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  Vous réglez nos honoraires pendant 12, 24 ou 36 mois uniquement si le candidat est toujours chez vous.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  Garantie candidat
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  Si le candidat part ou que vous décidez de rompre votre relation. C'est qu'on a mal fait notre boulot! Donc vous arrêter de payer et on essai de trouver un remplacant.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  Pas d'exclusivité
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  On est pas jaloux, si vous voulez travailler avec d'autres pas de souci pour nous. Si ovus trouvez par vous même trop cool et bravo.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  1 candidat
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  Si vous voulez recevoir 10 CV pas qualifiés ou faire passer 12 entretiens ce ne sera pas chez nous. Quand on vous présente quelqu'un c'est qu'on est sûre!
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  Pas de garantie de résultat
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  Si on ne trouve personne on vous le dit, on va pas envoyer n'importe qui.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  Pas d'annonces ou de jobboard
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  On fait exclusivement de l'approche directe.
                </dd>
              </div>
            </div>

            <div class="flex">
              <!-- Heroicon name: check -->
              <p class="">✅</p>
              <div class="ml-3">
                <dt class="text-lg leading-6 font-medium text-white">
                  Conflit d'interêt
                </dt>
                <dd class="mt-2 text-base text-gray-200">
                  Nous voulons peu de clients. Si vous travailler dans le même secteur d'activité qu'un de nos clients nous ne travaillerons pas ensemble.
                </dd>
              </div>
            </div>
          </dl>
        </div>
      </div>

      <!--
        This example requires Tailwind CSS v2.0+

        This example requires some changes to your config:

        ```
        // tailwind.config.js
        module.exports = {
          // ...
          plugins: [
            // ...
            require('@tailwindcss/typography'),
          ]
        }
        ```
      -->
      <div class="py-16 xl:py-36 px-4 sm:px-6 lg:px-8 bg-white overflow-hidden">
        <div class="max-w-max lg:max-w-7xl mx-auto">
          <div class="relative z-10 mb-8 md:mb-2 md:px-6">
            <div class="text-base max-w-prose lg:max-w-none">
              <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Prix</h2>
              <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Et sinon combien ça coûte ?</p>
            </div>
          </div>
          <div class="relative">
            <svg class="hidden md:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
              <defs>
                <pattern id="95e8f2de-6d30-4b7e-8159-f791729db21b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="384" fill="url(#95e8f2de-6d30-4b7e-8159-f791729db21b)" />
            </svg>
            <svg class="hidden md:block absolute bottom-0 left-0 -mb-20 -ml-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
              <defs>
                <pattern id="7a00fe67-0343-4a3c-8e81-c145097a3ce0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="384" fill="url(#7a00fe67-0343-4a3c-8e81-c145097a3ce0)" />
            </svg>
            <div class="relative md:bg-white md:p-6">
              <div class="lg:grid lg:grid-cols-2 lg:gap-6">
                <div class="prose prose-indigo prose-lg text-gray-800 text-bold text-xl lg:max-w-none">
                <p>Si vous êtes encore c'est que vous commencez à être convaincu. Mais vous vous dites "mhhh ça va me coûter une fortune cette histoire".</p>
                <br>
                <p>Et si on ne tournait pas autour du pot ?</p>
                </div>
              </div>
            <div data-controller="proposal" class="max-w-3xl mx-auto text-center bg-white">
              <h2 class="text-3xl font-extrabold text-indigo-600 mt-10">Calcul honoraires</h2>

              <!-- we take the salary here -->
              <div class="mt-12 w-2/3 flex flex-col m-auto text-center">
                <p class="font-bold">Quelle sera la rémunération brut annuelle du candidat ?</p>
                <input data-proposal-target="salary" data-action="input->proposal#change" class="mt-2" type="range" min="30000" max="120000" step="1000">
                <div class="w-44 mx-auto mt-4">
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        €
                      </span>
                    </div>
                    <input data-proposal-target="salaryField" type="number" placeholder="45000 €" min="30000" max="120000" step="5000" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 border-gray-300 rounded-md" placeholder="0.00" aria-describedby="price-currency">
                    <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm" id="price-currency">
                        EUR
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- we take on how many month -->
              <div class="mt-12 w-2/3 mx-auto">
                <p class="font-bold">Sur quelle période souhaitez vous garantir le candidat et mensualiser ?</p>
                <div class="mt-4   flex justify-between">
                  <div>
                    <input type="radio" class="radio-input" id="first" name="drone" value="12" checked>
                    <label data-action="click->proposal#change" data-month="12" class="inline-flex items-center px-4 py-2 md:px-8 md:py-3 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" for="first">12 mois</label>
                  </div>

                  <div>
                    <input type="radio" class="radio-input" id="second" name="drone" value="24">
                    <label data-action="click->proposal#change" data-month="24" class="inline-flex items-center px-4 py-2 md:px-8 md:py-3 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" for="second">24 mois</label>
                  </div>

                  <div>
                    <input type="radio" class="radio-input" id="third" name="drone" value="36">
                    <label data-action="click->proposal#change" data-month="36" class="inline-flex items-center px-4 py-2 md:px-8 md:py-3 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" for="third">36 mois</label>
                  </div>
                </div>
              </div>

              <div class="mt-12">
                <p class="font-bold text-2xl">Nos honoraires seront de: <br>
                    <span data-proposal-target="price">675</span> € / mois pendant <span data-proposal-target="nbmonth">12</span> mois </p>
              </div>
              <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
                <div class="rounded-md shadow">
                  <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                    C'est parti ?
                  </a>
                </div>
<!--                 <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
                  <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                    Live demo
                  </a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
        This example requires Tailwind CSS v2.0+

        This example requires some changes to your config:

        ```
        // tailwind.config.js
        module.exports = {
          // ...
          plugins: [
            // ...
            require('@tailwindcss/aspect-ratio'),
          ]
        }
        ```
      -->
    </div>

      <div class="bg-indigo-600 rounded-lg">
        <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
          <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
            <div class="space-y-5 sm:space-y-4">
              <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl text-white">KP Skills</h2>
              <p class="text-xl text-gray-100">Notre objectif est de procurer aux meilleurs sociétés lyonnaises les meilleurs talents. Et c'est plutôt cool, on en est super fier. Le travail c'est la moitié de la vie autant que ce soit avant des gens inspirant.</p>
            </div>
            <div class="lg:col-span-2">
              <ul class="space-y-12 sm:divide-y sm:divide-gray-200 sm:space-y-0 sm:-mt-8 lg:gap-x-8 lg:space-y-0">
                <li class="sm:py-8">
                  <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
                    <!-- Image -->
                    <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                      <%= image_tag("eloise_pividori", class: "object-cover shadow-lg rounded-lg", alt:"eloise pividori ceo kp-skills") %>
                    </div>
                    <div class="sm:col-span-2">
                      <div class="space-y-4">
                        <div class="text-lg leading-6 font-bold space-y-1">
                          <h3 class="text-white">Eloïse Pividori 🇦🇺 🦘</h3>
                          <p class="text-white font-medium">Co-Founder</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-100">My recruitment expertise spans across a broad spectrum of office support functions including Administration Superstars, Office Managers, Executive Assistants and Receptionists.</p>
                        </div>
                        <ul class="flex space-x-5">
                          <li>
                            <a href="https://www.linkedin.com/in/elo%C3%AFse-pividori-074b8a97/" class="text-gray-400 hover:text-white">
                              <span class="sr-only">LinkedIn</span>
                              <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </li>
                          <li class="flex items-center">
                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                            </svg>
                            <span class="ml-1 text-white text-sm">eloise.pividori@kp-skills.com</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sm:py-8">
                  <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
                    <!-- Image -->
                    <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                      <%= image_tag("jean-romain_krupa", class: "object-cover shadow-lg rounded-lg", alt:"eloise pividori ceo kp-skills") %>
                    </div>
                    <div class="sm:col-span-2">
                      <div class="space-y-4">
                        <div class="text-lg leading-6 font-bold space-y-1">
                          <h3 class="text-white">Jean-Romain Krupa 🇫🇷 🤓</h3>
                          <p class="text-white font-medium">Co-Founder</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-100">Mon expertise en recrutement est sur le spectre de l'ingénierie et du commerce: Sales Engineer, Pre Sales, Managers, CxO et developpeurs.</p>
                        </div>
                        <ul class="flex space-x-5">
                          <li>
                            <a href="https://www.linkedin.com/in/jean-romain-krupa/" class="text-gray-400 hover:text-white">
                              <span class="sr-only">LinkedIn</span>
                              <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="https://github.com/jromainkrupa" class="text-gray-400 hover:text-white">
                              <span class="sr-only">Github</span>
                              <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </li>
                          <li class="flex items-center">
                            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                            </svg>
                            <span class="ml-1 text-white text-sm">jr.krupa@kp-skills.com</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- More items... -->
              </ul>
            </div>
          </div>
        </div>
      </div>


    </main>
  </div>
</div>
