<div class="h-screen flex items-center bg-gray-800">
  <div class="flex flex-col mx-auto overflow-hidden text-center max-w-5xl p-24 px-4 sm:pt-12 sm:px-6 lg:pt-16">
    <h1 class="text-4xl tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl">
      Nous aidons les<span class="text-aquamarine-500"> entrepreneurs</span> à <span class="text-aquamarine-500">recruter</span> les meilleurs talents et créer leurs <span class="text-aquamarine-500">site web</span>.
    </h1>
    <p class="mt-3 max-w-md mx-auto text-base text-gray-200 sm:text-lg md:mt-12 md:text-xl md:max-w-3xl">
      Choisissez votre univers
    </p>
    <div class="">
      <a class="btn m-4 btn-primary lg:mr-4 mr-0 lg:mb-0 mb-4" href="https://www.jeanro.dev/services">web development -></a>
      <%= link_to "recrutement ->", recruitment_path, class:"btn btn-primary outline lg:mr-4 m-4 lg:mb-0 " %>
    </div>
  </div>
</div>